<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Allow PUT, DELETE, PATCH -->
	<httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="PUT" allowed="true"/>
          <add verb="DELETE" allowed="true"/>
          <add verb="PATCH" allowed="true"/>
          <add verb="OPTIONS" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
    <!-- Use FastCGI (NOT CGI) -->
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="PHP-php"/>
      <add name="PHP-php" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Plesk\Additional\PleskPHP83\php-cgi.exe|-d siteId=26" resourceType="Either" requireAccess="Script"/>
    </handlers>
    <!-- Laravel routing -->
    <rewrite>
      <rules>
        <rule name="Laravel" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true"/>
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
